---
import "@fontsource/inter";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- Iconos -->
  <link rel="icon" type="image/svg+xml" href="/Logo_Negro_Version_3.svg" />
  <link rel="icon" type="image/png" sizes="32x32" href="/Logo_Negro_Version_3-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/Logo_Negro_Version_3-16x16.png" />
  <link rel="shortcut icon" href="/Logo_Negro_Version_3.ico" />

  <!-- SEO Básico -->
  <title>{title} | Identidad digital y modulos para gestionar tu empresa</title>
  <meta name="description" content="Nobu es la plataforma que ofrece espacios personalizados con módulos adaptados para gestionar y potenciar empresas de forma eficiente." />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://nobu.com.ar/" />
  <meta name="generator" content={Astro.generator} />
  <meta http-equiv="content-language" content="es">
  <meta name="keywords" content="gestión empresarial, plataforma empresarial, módulos de gestión, nobu">

  <!-- Open Graph (Facebook, LinkedIn) -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Nobu - Plataforma de Gestión Empresarial" />
  <meta property="og:description" content="Espacios y módulos personalizados para potenciar la gestión de tu empresa." />
  <meta property="og:url" content="https://nobu.com.ar/" />
  <meta property="og:image" content="https://nobu.com.ar/og-image.jpg" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Nobu - Plataforma de Gestión Empresarial" />
  <meta name="twitter:description" content="Espacios y módulos personalizados para potenciar tu empresa." />
  <meta name="twitter:image" content="https://nobu.com.ar/twitter-image.jpg" />

  <!-- Datos estructurados JSON-LD -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Nobu",
      "url": "https://nobu.com.ar",
      "logo": "https://nobu.com.ar/LogoPrincipal.png",
      "description": "Plataforma de espacios personalizados y módulos de gestión empresarial."
    }
  </script>
</head>
  <body class="bg-custom-gradient">
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: transparent;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
